.row {
  flex-direction: row; }
  .row.reverse {
    flex-direction: row-reverse; }
  .row .item.item-center {
    margin-left: auto;
    margin-right: auto; }
  .row .item.item-start {
    margin-right: auto; }
  .row .item.item-end {
    margin-left: auto; }

.column {
  flex-direction: column; }
  .column.reverse {
    flex-direction: column-reverse; }
  .column .item.item-center {
    margin-top: auto;
    margin-bottom: auto; }
  .column .item.item-start {
    margin-bottom: auto; }
  .column .item.item-end {
    margin-top: auto; }

.row, .column {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box; }
  .row.items-grow .item, .column.items-grow .item {
    flex-grow: 1; }
  .row.items-noshrink .item, .column.items-noshrink .item {
    flex-shrink: 0; }
  .row.wrap, .column.wrap {
    flex-wrap: wrap; }
  .row.nowrap, .column.nowrap {
    flex-wrap: nowrap; }
  .row.wrap-reverse, .column.wrap-reverse {
    flex-wrap: wrap-reverse; }
  .row.align-start, .column.align-start {
    align-items: flex-start; }
  .row.align-center, .column.align-center {
    align-items: center; }
  .row.align-end, .column.align-end {
    align-items: flex-end; }
  .row.align-stretch, .column.align-stretch {
    align-items: stretch; }
  .row.items-start, .column.items-start {
    justify-content: flex-start; }
  .row.items-center, .column.items-center {
    justify-content: center; }
  .row.items-end, .column.items-end {
    justify-content: flex-end; }
  .row.items-stretch, .column.items-stretch {
    justify-content: stretch; }
  .row.items-space-around, .column.items-space-around {
    justify-content: space-around; }
  .row.items-space-between, .column.items-space-between {
    justify-content: space-between; }
  .row.items-space-even, .column.items-space-even {
    justify-content: space-evenly; }
  .row.content-start, .column.content-start {
    align-content: flex-start; }
  .row.content-center, .column.content-center {
    align-content: center; }
  .row.content-end, .column.content-end {
    align-content: flex-end; }
  .row.content-stretch, .column.content-stretch {
    align-content: stretch; }
  .row.content-space-around, .column.content-space-around {
    align-content: space-around; }
  .row.content-space-between, .column.content-space-between {
    align-content: space-between; }
  .row.content-space-even, .column.content-space-even {
    align-content: space-evenly; }

.item {
  box-sizing: border-box; }
  .item.grow {
    flex-grow: 1; }
  .item.shrink {
    flex-shrink: 1; }
  .item.nogrow {
    flex-grow: 0; }
  .item.noshrink {
    flex-shrink: 0; }
  .item.start {
    align-self: flex-start; }
  .item.center {
    align-self: center; }
  .item.end {
    align-self: flex-end; }
  .item.stretch {
    align-self: stretch; }
  .item.col-1 {
    width: 8.3333%; }
  .item.col-2 {
    width: 16.66666%; }
  .item.col-3 {
    width: 25%; }
  .item.col-4 {
    width: 33.3333%; }
  .item.col-5 {
    width: 41.6666%; }
  .item.col-6 {
    width: 50%; }
  .item.col-7 {
    width: 58.3333%; }
  .item.col-8 {
    width: 66.6666%; }
  .item.col-9 {
    width: 75%; }
  .item.col-10 {
    width: 83.3333%; }
  .item.col-11 {
    width: 91.6666%; }
  .item.col-12 {
    width: 100%; }
